@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Examination"];
}
<h4>@Localizer["Examination"]</h4>
<form id='examinations' method="post">
    @if (User.IsInRole("doctor"))
    {
        <button type="submit" class="btn btn-primary m-1" asp-controller="Examination" asp-action="DeleteModel">@Localizer["Delete"]</button>
    }
    @if (User.IsInRole("admin"))
    {
        <a class="btn btn-primary m-1" asp-controller="Examination" asp-action="ExportToCSV">@Localizer["Export"]</a>
        <a class="btn btn-primary m-1" asp-controller="Examination" asp-action="ImportToCSV">@Localizer["Import"]</a>
    }

    <table class="table table-striped table-hover">
        <tr>
            <th><a asp-controller="Examination" asp-action="GetModels" asp-route-sortOrder="@ViewBag.TypeSort">@Localizer["TypePhysicalActive"]</a></th>
            <th><a asp-controller="Examination" asp-action="GetModels" asp-route-sortOrder="@ViewBag.LastNameSort">@Localizer["LastName"]</a></th>
            <th><a asp-controller="Examination" asp-action="GetModels" asp-route-sortOrder="@ViewBag.FirstNameSort">@Localizer["FirstName"]</a></th>
            <th><a asp-controller="Examination" asp-action="GetModels" asp-route-sortOrder="@ViewBag.MiddleNameSort">@Localizer["MiddleName"]</a></th>
            <th><a asp-controller="Examination" asp-action="GetModels" asp-route-sortOrder="@ViewBag.DateSort">@Localizer["Date"]</a></th>
            @if (User.IsInRole("doctor"))
            {
                <th></th>
                <th><input type="checkbox" name="cb_all"></th>
            }
        </tr>

        @if (Model != null)
            {@foreach (var examination in Model)
            {
                <tr>
                    <td>@examination.TypePhysicalActive</td>
                    <td>@examination.Patient.LastName</td>
                    <td>@examination.Patient.FirstName</td>
                    <td>@examination.Patient.MiddleName</td>
                    <td>@examination.Date.ToString("d")</td>
                    @if (User.IsInRole("doctor") && (int)examination.Status == 0)
                    {
                        <td>
                            <a class="btn btn-success" asp-controller="Examination" asp-action="GetModel" asp-route-id="@examination.Id"><i class="fas fa-check"></i></a>
                            <a class="btn btn-primary" asp-controller="Examination" asp-action="UpdateModel" asp-route-id="@examination.Id"><i class="fas fa-pen"></i></a>
                        </td>
                        <td><input type="checkbox" class="examination" name="selectedExamination" value="@examination.Id" /></td>
                    }
                    else if (User.IsInRole("doctor"))
                    {
                        <td></td>
                        <td><input type="checkbox" class="examination" name="selectedExamination" value="@examination.Id" /></td>
                    }
                </tr>
            }}
    </table>
</form>

<script src="~/js/Views/Examination/GetModels.js"></script>